@model IEnumerable<RescueDesk.Models.Utilizador>

@{
    ViewBag.Title = "Utilizadores";
    ViewBag.FAIcon = "fa-users";
    ViewBag.SubTitle = "";
}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body">
                    @*<table id="bootstrap-data-table" class="table table-striped table-bordered" style="font-size:14px">*@
                    <table id="bootstrap-data-table-ajax" class="table table-striped table-bordered" style="font-size:14px" data-url="@Url.Action("ObterUtilizadores")">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    @Html.DisplayNameFor(model => model.idUtilizador)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.nome)
                                </th>
                                <th class="no-sort" style="width: 20%">
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th style="width: 20%">
                                    @Html.DisplayNameFor(model => model.tipoUtilizador)
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{


}

