@model IEnumerable<RescueDesk.Models.Utilizador>
@{
    ViewBag.Title = "Utilizadores";
    ViewBag.SubTitle = "Listagem";
}

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row container-fluid">
                        <div class="col-sm-12 ">
                            <div class="fa-hover"><a href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> Adicionar</a></div>
                        </div>
                    </div>
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%;">
                                    @Html.DisplayNameFor(model => model.idUtilizador)
                                </th>
                                <th style="width: 70%;">
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th style="width: 70%;">
                                    @Html.DisplayNameFor(model => model.password)
                                </th>
                                <th style="width: 70%;">
                                    @Html.DisplayNameFor(model => model.nrcontribuinte)
                                </th>
                                <th style="width: 70%;">
                                    @Html.DisplayNameFor(model => model.foto)
                                </th>
                                <th style="width: 70%;">
                                    @Html.DisplayNameFor(model => model.idtipo)
                                </th>
                                <th class="no-sort" style="width: 20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idUtilizador)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nrcontribuinte)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.foto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idtipo)
                                </td>

                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.idUtilizador }) " class="btn btn-link">Editar</a>
                                    @*<a href="@Url.Action("Delete", new { id = item.codpostal }) " class="btn btn-danger">Eliminar</a>*@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{


}
