@using RescueDesk.Models
@model Utilizador
@{
    Layout = "~/Views/Shared/BackOffice/_Login.cshtml";
}
<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="images/logo.png" alt="">
        </a>
    </div>
    <div class="login-form">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(x => x.email)
                @Html.TextBoxFor(x => x.email, new { @class = "form-control", @placeholder = "Insira o Email..." })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.password)
                @Html.PasswordFor(x => x.password, new { @class = "form-control", @placeholder = "Insira a Password..." })
            </div>
            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Entrar</button>
            <div class="register-link m-t-15 text-center">
                <p>Não tem uma conta ? <a href="#"> Registe-se aqui</a></p>
            </div>
        }
    </div>
</div>



