@model RescueDesk.ViewModels.ConfirmRegistoViewModel
@{
    ViewBag.Title = "Redefinir Password";
    Layout = "~/Views/Shared/BackOffice/_Login.cshtml";
}
<div class="login-content">
    <div class="login-form">
        <div class="login-logo">
            <a href="@Url.Action("Index", "HomePage")">
                <img class="align-content" src="/images/logo_shadow.png" alt="">
            </a>
        </div>
        <hr style="width:80%" />
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => x.Hash)
            <div class="form-group">
                @Html.LabelFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Insira o email..." })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Escreva uma password..." })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirme a password..." })
            </div>
            <p class="error-message">@ViewBag.Mensagem</p>
            <button style="border-radius:2px" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Confirmar</button>
        }
    </div>
</div>
