@model IEnumerable<RescueDesk.Models.Funcionario>

@{
    ViewBag.Title = "Funcionários";
    ViewBag.FAIcon = "fa-suitcase";
    ViewBag.SubTitle = "Criar";
    ViewBag.AddUrl = Url.Action("Create");
}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered" style="font-size:14px">
                        <thead>
                            <tr>
                                <th style="width: 30%">
                                    @Html.DisplayNameFor(model => model.nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dept)
                                </th>
                                <th style="width: 20%">
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th class="no-sort" style="width: 15%">
                                    @Html.DisplayNameFor(model => model.contacto)
                                </th>
                                <th class="no-sort" style="width: 15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var inativoclass = "";
                                if (!item.ativo) { inativoclass = "inactive"; }
                                <tr class="@inativoclass">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dept)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.contacto)
                                    </td>
                                    <td align="center">
                                        <a href="@Url.Action("Edit", new { id = item.idfuncionario })" class="btn btn-link minus-padd" title="Editar"><i class="fa fa-pencil fa-add"></i></a>
                                        <a href="@Url.Action("Details", new { id = item.idfuncionario })" class="btn btn-link minus-padd" title="Detalhes"><i class="fa fa-ellipsis-h fa-add"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}