@model RescueDesk.Models.Departamento

@{
    Layout = null;
    ViewBag.Title = "Departamento";
    ViewBag.SubTitle = "Eliminar Departamento";
}

@using (Html.BeginForm())
{
    if (!string.IsNullOrEmpty((string)ViewBag.SubTitle))
    {
        <div class="modal-header">
            <h5 class="modal-title" id="staticModalLabel">@ViewBag.SubTitle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.iddept)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row ">
            <div class="col col-md-12">
                Tem a certeza que pretende eliminar o departamento de: <b>@Html.ValueFor(model => model.dept)</b>?
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-times"></i>&nbsp;Cancelar</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
