@model RescueDesk.Models.Departamento

@{
    Layout = null;
    ViewBag.Title = "Departamento";
    ViewBag.SubTitle = "Editar Departamento";
}

@using (Html.BeginForm())
{
    if (!string.IsNullOrEmpty((string)ViewBag.SubTitle))
    {
        <div class="modal-header">
            <h5 class="modal-title" id="staticModalLabel">@ViewBag.SubTitle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.iddept)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col col-md-2" style="margin-left: 2px; margin-right: -6px">
                <label for="@Html.NameFor(x=>x.dept)" class=" form-control-label" style="line-height: 36px">@Html.DisplayNameFor(model => model.dept):</label>
            </div>
            <div class="col col-md-10">
                @Html.EditorFor(model => model.dept, new { htmlAttributes = new { @class = "form-control", @placeholder = "Introduza o nome do departamento..." } })
                @Html.ValidationMessageFor(model => model.dept, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp; Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-times"></i>&nbsp;Cancelar</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
