@model RescueDesk.Models.Atividade

@{
    ViewBag.Title = "Atividades";
    ViewBag.SubTitle = "Apagar";
}

<div class="col-lg-12">

    <div class="card">
        <div class="card-body card-block">
            <div class="form-group">
                <label for="@Html.NameFor(x=>x.descricao)" class=" form-control-label">@Html.DisplayNameFor(model => model.descricao)</label>
                @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            <div class="form-group">
                <label for="@Html.NameFor(x=>x.peso)" class=" form-control-label">@Html.DisplayNameFor(model => model.peso)</label>
                @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled"} })
            </div>
        </div>
        <div class="card-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.idatividade)
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="fa fa-dot-circle-o"></i> Apagar
            </button>
            <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm">
                <i class="fa fa-ban"></i> Voltar
            </a>
            }
            
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
