@model IEnumerable<RescueDesk.Models.Pedido>
@using RescueDesk.Utils

@{
    ViewBag.Title = "Pedidos";
    ViewBag.FAIcon = "fa-file-text";
    ViewBag.SubTitle = "Criar";
    ViewBag.AddUrl = Url.Action("Create");

    bool eAdmin = (bool)ViewBag.eAdmin;
}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="bootstrap-data-table-pedidos" class="table table-striped table-bordered" style="font-size:14px">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.idpedido)
                                </th>
                                <th class="no-sort">
                                    @Html.DisplayNameFor(model => model.assunto)
                                </th>
                                <th style="width: 15%">
                                    @Html.DisplayNameFor(model => model.dtpedido)
                                </th>
                                <th class="no-sort" style="width: 5%">
                                    @Html.DisplayNameFor(model => model.dtlido)
                                </th>
                                <th class="no-sort" style="width: 5%">
                                    @Html.DisplayNameFor(model => model.dtmarcado)
                                </th>
                                <th class="no-sort" style="width: 5%">
                                    @Html.DisplayNameFor(model => model.dtresolvido)
                                </th>
                                @if (ViewHelper.IsAdmin() || ViewHelper.IsFuncionario())
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.atividade)
                                    </th>
                                }
                                @if (ViewHelper.IsAdmin() || ViewHelper.IsFuncionario())
                                {
                                    <th style="width: 10%">
                                        @Html.DisplayNameFor(model => model.prioridade)
                                    </th>
                                }
                                <th class="no-sort" style="width: 12%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <strong style="font-weight:lighter">
                                            @Html.DisplayFor(modelItem => item.idpedido)
                                        </strong>
                                    </td>
                                    <td>
                                        <strong style="font-weight:500">

                                            @Html.DisplayFor(modelItem => item.assunto)
                                        </strong>
                                    </td>
                                    <td align="center">
                                        <strong style="font-weight:lighter">
                                            @Html.DisplayFor(modelItem => item.dtpedido)
                                        </strong>
                                    </td>
                                    <td>
                                        @if (item.dtlido == null)
                                        {
                                            <a class="btn btn-link" style="padding-top: 0px; padding-bottom: 0px; margin-left: 2%"><i class="fa fa-times-circle fa-red"></i></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-link" title="@Html.DisplayFor(modelItem => item.dtlido)" style="padding-top: 0px; padding-bottom: 0px; margin-left: 2%"><i class="fa fa-check-circle fa-green"></i></a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.dtmarcado == null)
                                        {
                                            <a class="btn btn-link" style="padding-top: 0px; padding-bottom: 0px; margin-left: 18%"><i class="fa fa-times-circle fa-red"></i></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-link" title="@Html.DisplayFor(modelItem => item.dtmarcado)" style="padding-top: 0px; padding-bottom: 0px; margin-left: 18%"><i class="fa fa-check-circle fa-green"></i></a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.dtresolvido == null)
                                        {
                                            <a class="btn btn-link" style="padding-top: 0px; padding-bottom: 0px; margin-left: 14px"><i class="fa fa-times-circle fa-red"></i></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-link" title="@Html.DisplayFor(modelItem => item.dtresolvido)" style="padding-top: 0px; padding-bottom: 0px; margin-left: 14px"><i class="fa fa-check-circle fa-green"></i></a>
                                        }
                                    </td>
                                    @if (ViewHelper.IsAdmin() || ViewHelper.IsFuncionario())
                                    {
                                        <td>
                                            <strong style="font-weight:lighter">
                                                @Html.DisplayFor(modelItem => item.atividade)
                                            </strong>
                                        </td>
                                    }
                                    @if (ViewHelper.IsAdmin() || ViewHelper.IsFuncionario())
                                    {
                                        <td>
                                            <strong style="font-weight:lighter">
                                                @Html.DisplayFor(modelItem => item.prioridade)
                                            </strong>
                                        </td>
                                    }
                                    <td align="center">
                                        <a href="@Url.Action("Edit", new { id = item.idpedido })"
                                           title="Editar"
                                           data-ajax="true"
                                           data-ajax-method="GET"
                                           data-ajax-mode="after"
                                           data-ajax-update="#modal-body"
                                           class="btn btn-link minus-padd modal-link @if (item.Resolvido) { <text> disabled</text> }"><i class="fa fa-pencil fa-add"></i></a>

                                        <a href="@Url.Action("Details", new { id = item.idpedido })"
                                           title="Editar"
                                           data-ajax="true"
                                           data-ajax-method="GET"
                                           data-ajax-mode="after"
                                           data-ajax-update="#modal-body"
                                           class="btn btn-link minus-padd modal-link"><i class="fa fa-info-circle fa-add"></i></a>

                                        @if (item.idfuncionario == null && eAdmin)
                                        {
                                            <a href="@Url.Action("Encaminhar", new { id = item.idpedido })" class="btn btn-link minus-padd modal-link" title="Encaminhar"><i class="fa fa-forward fa-add"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}
