@model IEnumerable<RescueDesk.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idpedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idatividade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtpedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtlido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtmarcado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtresolvido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nrcontribuinte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idfuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idpedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idatividade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtpedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtlido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtmarcado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtresolvido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nrcontribuinte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idfuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.idpedido  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
