<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">

<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RescueDesk - @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Title">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="rescuedesk.ico">
    @Styles.Render("~/Content/BackOffice")

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>

<body>
    <!-- Left Panel -->
    @Html.Partial("BackOffice/_NavBar")
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        @Html.Partial("BackOffice/_Header")
        <!-- /header -->
        <!-- Header-->
        @Html.Partial("BackOffice/_Breadcrumbs")

        <div class="content mt-3">
            <div class="col-md-12">
                @RenderBody()

                <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="modal-body"> </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /#right-panel -->
    <!-- Right Panel -->
    <!--SCRIPTS-->
    @Scripts.Render("~/bundles/BackOffice")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        jQuery(document).ready(function () {
            jQuery(".standardSelect").chosen({});
        });

        $.datetimepicker.setLocale('pt');

        $('.date').datetimepicker({
            format: 'd/m/Y H:i:s',
            minDate: getFormattedDate(new Date())
        });

        function getFormattedDate(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear().toString().slice(2);
            return day + '-' + month + '-' + year;
        }
    </script>


    <script>
        $(function () {
            $('body').on('click', ".modal-link", function (e) {
                $(".modal-content").empty();
                e.preventDefault();
                $(this).attr("data-target", '#modal-container');
                $(this).attr("data-toggle", 'modal');
                $('.modal-backdrop').show();
            });
            $('body').on('click', ".modal-close-btn", function (e) {
                $('#modal-container').modal('hide');
                $(this).removeData('bs.modal');
            });

            $('#modal-container').on('hidden.bs.modal', function () {
                $('.modal-backdrop').hide();
                $(this).removeData('bs.modal');
            })
        });

        function changeImg(input, target) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(target)
                        .attr('src', e.target.result)
                        .width(158)
                        .height(158);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        function closeModal() {
            $('#modal-container').modal('hide');
        }
        function CheckFormImage(e,form) {
            e.preventDefault(); //Stop the submit for now
            //Replace with your selector to find the file input in your form

            var fileInput = $("input[type=file]")[0];

            if (fileInput)
            {
                var file = fileInput.files && fileInput.files[0];
                if (file) {
                    var img = new Image();

                    img.src = window.URL.createObjectURL(file);

                    img.onload = function () {
                        var width = img.naturalWidth,
                            height = img.naturalHeight;

                        window.URL.revokeObjectURL(img.src);

                        if (img.naturalWidth > 0 &&
                            img.naturalHeight > 0 &&
                            (img.naturalWidth / img.naturalHeight) < 1.10)
                        {
                            form.submit();
                        }
                        else
                        {
                            alert("Selecione uma imagem quadrada (1x1)!");
                        }
                    };
                }
                else
                {
                    //No file was input or browser doesn't support client side reading
                    form.submit();
                }
            }
            else {
                //No file was input or browser doesn't support client side reading
                form.submit();
            }
        }

        $('.localidadesDropdown').ajaxChosen({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("ObterLocalidadesFiltradas", "Localidades")'
        }, {
            loadingImg: 'images/loading.gif'
            });

        $("form.hasImage").submit(function (e) {
            CheckFormImage(e, this);
        });
    </script>
</body>
</html>