@model RescueDesk.ViewModels.ClienteViewModel

@{
    Layout = null;
    ViewBag.Title = "Cliente";
    ViewBag.SubTitle = "Editar Cliente";
}

@using (Html.BeginForm(
actionName: "Edit",
controllerName: "Clientes",
routeValues: null,
method: FormMethod.Post,
htmlAttributes: new { @enctype = "multipart/form-data", @class = "hasImage" }))
{
    if (!string.IsNullOrEmpty((string)ViewBag.SubTitle))
    {
        <div class="modal-header">
            <h5 class="modal-title" id="staticModalLabel">@ViewBag.SubTitle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="modal-body">
        @Html.HiddenFor(model => model.Utilizador.password)
        @Html.HiddenFor(model => model.Utilizador.idUtilizador)
        @Html.HiddenFor(model => model.Utilizador.nrcontribuinte)
        @Html.HiddenFor(model => model.Utilizador.foto)
        @Html.HiddenFor(model => model.Cliente.nrcontribuinte)
        @Html.HiddenFor(model => model.Cliente.email)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col col-md-8" style="margin-top: 10px; padding: 0px">
                <div class="col col-md-12">
                    <div class="col col-md-4" style="margin-right: -30px">
                        <label for="@Html.NameFor(model=>model.Cliente.nrcontribuinte)" class="form-control-label" style="line-height:36px">@Html.DisplayNameFor(model => model.Cliente.nrcontribuinte):</label>
                    </div>
                    <div class="col col-md-8">
                        @Html.TextBoxFor(model => model.Cliente.nrcontribuinte, new { @disabled = "disabled", @class = "form-control", @placeholder = "Introduza o seu número de contribuinte...", @style = "width: 334px", @autocomplete = "off" } )
                        @Html.ValidationMessageFor(model => model.Cliente.nrcontribuinte, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col col-md-12" style="padding-top:10px">
                    <div class="col col-md-2">
                        <label for="@Html.NameFor(model=>model.Cliente.nome)" class=" form-control-label" style="line-height:36px">@Html.DisplayNameFor(model => model.Cliente.nome):</label>
                    </div>
                    <div class="col col-md-10">
                        @Html.EditorFor(model => model.Cliente.nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Introduza o seu nome...", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Cliente.nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col col-md-12" style="padding-top:10px; padding-bottom:10px">
                    <div class="col col-md-2">
                        <label for="@Html.NameFor(model=>model.Cliente.contacto)" class=" form-control-label" style="line-height:36px">@Html.DisplayNameFor(model => model.Cliente.contacto):</label>
                    </div>
                    <div class="col col-md-10">
                        @Html.TextBoxFor(model => model.Cliente.contacto, new { @class = "form-control", @placeholder = "Introduza o seu contacto...", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Cliente.contacto, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>           
                <div class="col col-md-4" style="padding-left:5%">
                    <label for="foto">
                        <img id="fotoImg" class="rounded-circle mx-auto d-block" src="@Model.Utilizador.foto" alt="Foto de Perfil" title="Escolha a sua foto de perfil">
                    </label>
                    <input id="foto" name="foto" type="file" onchange="changeImg(this, '#fotoImg');" />
                </div>
            <div class="col col-md-12">
                <div class="col col-md-2" style="margin-right: -44px">
                    <label for="@Html.NameFor(model=>model.Cliente.email)" class=" form-control-label" style="line-height:36px">@Html.DisplayNameFor(model => model.Cliente.email):</label>
                </div>
                <div class="col col-md-6">
                    @Html.EditorFor(model => model.Cliente.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Introduza o seu email...", @style = "width:387px", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Cliente.email, "", new { @class = "text-danger" })
                </div>
                <div class="col col-md-3" style="line-height:36px; margin-left: 80px; margin-right:-76px">
                    Tem Utilizador:
                </div>
                <div class="col col-md-1" style="padding-top: 6px">
                    <label class="checkboxAlter">
                        @if (Model.CriarUtilizador)
                        {
                            @Html.EditorFor(model => model.CriarUtilizador, new { htmlAttributes = new { @disabled = "disabled" } })
                            <span class="checkmark"></span>
                        }
                        else
                        {
                            @Html.EditorFor(model => model.CriarUtilizador)
                            <span class="checkmark"></span>
                        }
                    </label>
                </div>
            </div>
            <div class="col col-md-12" style="padding-top:10px">
                <div class="col col-md-2" style="margin-right:-44px">
                    <label for="@Html.NameFor(model=>model.Cliente.morada)" class=" form-control-label" style="line-height:36px">@Html.DisplayNameFor(model => model.Cliente.morada):</label>
                </div>
                <div class="col col-md-10">
                    @Html.EditorFor(model => model.Cliente.morada, new { htmlAttributes = new { @class = "form-control", @placeholder = "Introduza a sua morada...", @style = "width:652px", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Cliente.morada, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col col-md-12" style="padding-top: 10px">
                <div class="col col-md-3" style="margin-right: -70px">
                    <label for="@Html.NameFor(model=>model.Cliente.codpostal)" class=" form-control-label" style="line-height:30px">@Html.DisplayNameFor(model => model.Cliente.codpostal):</label>
                </div>
                <div class="col col-md-9">
                    @Html.DropDownListFor(model => model.Cliente.codpostal, Model.Enderecos, new { @class = "form-control localidadesDropdown", @style = "width:615px" })
                    @Html.ValidationMessageFor(model => model.Cliente.codpostal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col col-md-12" style="padding-top:10px">
                <div class="col col-md-12">
                    <label for="@Html.NameFor(model=>model.Cliente.obs)" class=" form-control-label" style="line-height:30px">@Html.DisplayNameFor(model => model.Cliente.obs):</label>
                </div>
                <div class="col col-md-12">
                    @Html.TextAreaFor(model => model.Cliente.obs, new { @class = "form-control", @rows = "7", @placeholder = "Ex: segundo contacto, segunda morada, outras observações..." })
                    @Html.ValidationMessageFor(model => model.Cliente.obs, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp; Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-times"></i>&nbsp;Cancelar</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script>
    jQuery(document).ready(function () {
        jQuery(".autoComplete").chosen({});
    });

    $('.localidadesDropdown').ajaxChosen({
        dataType: 'json',
        type: 'POST',
        url: '@Url.Action("ObterLocalidadesFiltradas", "Localidades")'
    }, {
            loadingImg: 'images/loading.gif'
        });

    $("form.hasImage").submit(function (e) {
        CheckFormImage(e,this);
    });
</script>

<style>
    img#fotoImg {
        width: 158px;
        max-width: 158px;
    }
    #Cliente_codpostal_chosen {
        width: 615px !important;
    }
</style>