@model IEnumerable<RescueDesk.Models.Mensagem>
@{
    ViewBag.Title = "Mensagens";
    ViewBag.FAIcon = "fa-file-text";
    ViewBag.SubTitle = "Criar";
    ViewBag.AddUrl = Url.Action("Create");

    int mensagem = ViewBag.mensagem;
}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered" style="font-size:14px">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.assunto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.corpo)
                                </th>
                                @if (mensagem == 1)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.recetorEmail)
                                    </th>
                                }
                                @if (mensagem == 2)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.emissor)
                                    </th>
                                }
                                <th>
                                    @Html.DisplayNameFor(model => model.dtenviado)
                                </th>
                                <th class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.assunto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mensagemAbreviado)
                                    </td>
                                    @if (mensagem == 1)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.recetorEmail)
                                        </td>
                                    }
                                    @if (mensagem == 2)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.emissorEmail)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dtenviado)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", new { id = item.idmensagem })"
                                           title="Detalhes"
                                           data-ajax="true"
                                           data-ajax-method="GET"
                                           data-ajax-mode="after"
                                           data-ajax-update="#modal-body"
                                           class="btn btn-link minus-padd modal-link"><i class="fa fa-info-circle fa-add"></i></a>
                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>