@model IEnumerable<RescueDesk.Models.Mensagem>
@{
    ViewBag.Title = "Mensagens";
    ViewBag.FAIcon = "fa-envelope";
    ViewBag.SubTitle = "Escrever";
    ViewBag.AddUrl = Url.Action("Create");

    int mensagem = ViewBag.mensagem;
}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="bootstrap-data-table-pedidos" class="table table-striped table-bordered" style="font-size:14px">
                        <thead>
                            <tr>
                                @if (mensagem == 1)
                                {
                                    <th style="width:20%">
                                        Para
                                    </th>
                                }
                                @if (mensagem == 2)
                                {
                                    <th style="width:20%">
                                        De
                                    </th>
                                }
                                <th>
                                    Mensagem
                                </th>
                                <th style="width:5%">
                                    @Html.DisplayNameFor(model => model.dtenviado)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr href="@Url.Action("Details", new { id = item.idmensagem })"
                                    data-ajax="true"
                                    data-ajax-method="GET"
                                    data-ajax-mode="after"
                                    data-ajax-update="#modal-body"
                                    class="modal-link">
                                    @if (mensagem == 1)
                                    {
                                        <td>
                                            <strong style="font-weight:400">
                                                @Html.DisplayFor(modelItem => item.recetorEmail)
                                            </strong>
                                        </td>
                                    }
                                    @if (mensagem == 2)
                                    {
                                        <td>
                                            <strong style="font-weight:400">
                                                @Html.DisplayFor(modelItem => item.emissorEmail)
                                            </strong>
                                        </td>
                                    }
                                        <td>
                                            <b>
                                                @Html.DisplayFor(modelItem => item.assunto)
                                            </b>
                                            -
                                            <strong style="font-weight:400">
                                                @Html.DisplayFor(modelItem => item.mensagemAbreviado)
                                            </strong>
                                        </td>
                                    <td align="center">
                                        <strong style="font-weight:lighter">
                                            @Html.DisplayFor(modelItem => item.dtenviado)
                                        </strong>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>