@{
    bool temUrlCreate = !string.IsNullOrEmpty((string)ViewBag.AddUrl);
    bool temfaIcon= !string.IsNullOrEmpty((string)ViewBag.FAIcon);
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                @if (temfaIcon)
                {
                    <h1><i class="fa @ViewBag.FAIcon"></i> @ViewBag.Title</h1>
                }
                else
                {
                    <h1>@ViewBag.Title</h1>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">
                        @if (temUrlCreate)
                        {
                            <div class="fa-hover"><a href="@ViewBag.AddUrl"><i class="fa fa-plus-circle"></i> Adicionar</a></div>
                        }
                        else
                        {
                            @ViewBag.SubTitle
                        }
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
