<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RescueDesk - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/rescuedesk.ico">
    @Styles.Render("~/Content/BackOffice")
    <style>
        .login-logo img {
            width: 65%;
        }
        .error-message {
            text-align: center;
            color: red;
            margin-top: -5px;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body class="bg-dark" style="background: url(../images/login_wallpaper.jpg) no-repeat;">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/BackOffice")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
